.grid {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.stack {
    width: 100%;
    row-gap: 0.2rem;
}

.card {
    width: fit-content;
    font-family: var(--font-mono);
    font-size: 0.85rem;
}
